.content-wrapper{
    height: auto;
}

.content{
    font-family: "Montserrat", sans-serif;
}

.content h1{
    margin-bottom: 2rem;
}

.content p{
    margin: 0;
}

.content h2{
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

.period-quizzes{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0 2rem 0;
}

.content img{
    margin-right: 20px;
}
.speed-dial > button{
    background-color: #553b08;
}

.speed-dial > button:hover{
    background-color: #553b08;
}

.ql-align-center{
    text-align: center;
}

