.quiz-details-column{
    font-weight: bold !important;
    color: #553b08 !important;
}

.quiz-game-details-title{
    margin: 20px 0px 20px 0px;
    color: #553b08;
    padding-left: 2.5rem;
    padding-top: 1rem;
}

.quiz-game-details-message{
    padding-left: 2.5rem;
}

.quiz-details-heading.MuiTypography-root{
    margin: 2rem 0 1rem 0;
    padding-left: 2.5rem;
    color: #553b08;
}

.quiz-details-text{
    overflow-wrap: anywhere;
}

.quiz-details-answer{
    margin: 0.5rem 0 1rem 0;
}

.quiz-details-source.MuiTableCell-root{
    font-weight: bold;
    background-color: #f7f4ea;
    overflow-wrap: anywhere;
}

.pie-chart-container{
    margin: 3rem 0 3rem 0;
}

.quiz-game-details-wrapper{
    height: 90%;
}
